<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Biblioteca DC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:rgb(48, 48, 53);">
    <br>
    <div class="container">
        <!-- <h1>Faça o seu login</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Login">
    </form> -->

        <section class="min-vh-100">
            <div id="cover-caption">
                <div class="container">
                    <div class="row text-white">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                            <h1 class="display-4 py-2 text-truncate">Faça o Login</h1>
                            <div class="px-2">
                                <form action="" method="post" class="justify-content-center">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input class="btn btn-primary" type="submit" value="Login">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</body>

</html>